<p>this user index!!!</p>
<table class="table table-bordered border-primary">
<tr>
    <th style="background-color:#FFFFE0">Name</th>
    <th style="background-color:#FFFFE0">Email</th>
    <th style="background-color:#FFFFE0">Date_of_birth</th>
    <th style="background-color:#FFFFE0">Joining_date</th>
    <th style="background-color:#FFFFE0">Role</th>
    <th style="background-color:#FFFFE0">Mob_no.</th>
    <th style="background-color:#FFFFE0">Address</th>
</tr>

  <% @users.each do |user| %>
  <tr>
  <% if current_user.role == "admin" %>

  <td>
    <a><%= link_to user.name, user %></a>
  </td>

  <td>
    <%= user.email %>
  </td>

  <td>
    <%= user.date_of_birth %>
  </td>

  <td>
    <%=  user.joining_date %>
  </td>

  <td>
    <%=  user.role %>
  </td>

  <td>
    <%= user.mob_no %>
  </td>

  <td>
    <%= user.address %>
  </td>

  <% end %>
  <% end %>
<table>