<h1><%= @user.full_name %></h1>
<h2><%= @user.role %></h2>
<h2><%= @user.email %></h2>
<h2><%= @user.date_of_birth %></h2>
<h2><%= @user.joining_date %></h2>
<h2><%= @user.address %></h2>
<h2><%= @user.mob_no %></h2>
