<nav class="navbar navbar-dark bg-dark">

  <p class="navbar-text float-right">
  <% if user_signed_in? %>
  <a>Logged in as <strong><%= current_user.email %></strong>.</a>
    <%= link_to 'Edit profile', edit_user_registration_path, class:"btn btn-success" %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"btn btn-danger" %>
  <% else %>
  <%= link_to "home", root_path %>
  <%= link_to "login", new_user_session_path, class:"btn btn-primary"%>
  <%= link_to "signup", new_user_registration_path, class:"btn btn-success"%>
  <% end %>
  </p>
  </nav>